---
title: contacts
page: contacts
hero: {
  bg: 'bg-hero-contacts.jpg',
  left: {
    mod: 'col-xl-4 col-lg-6 col-md-6 col-sm-6'
  },
  right: {
    mod: 'col-xl-4 col-lg-6 col-md-6 col-sm-6 offset-xl-2'
  },
  title: 'Контакты',
  text: 'Компания «Avtonomera» работает по полной предоплате.
Доставляет номера по Киеву курьером и по Украине
Новой Почтой.',
  btns: [
    {
      title: 'Посмотреть контакты'
    }
  ],
  form: {
    title: 'Заполните форму',
    subttl: 'и наш менеджер вам перезвонит',
    btn: { title: 'Отправить' },
    fields: [
      {
        name: 'input',
        type: 'text',
        placeholder: 'Имя',
        fieldClass: '',
        fieldAttributes: {}
      },
      {
        name: 'input',
        type: 'tel',
        placeholder: '',
        fieldClass: 'js-mask',
        fieldAttributes: { 'data-mask-type': 'phone', 'data-mask': '+{38}(000)000-00-00' }
      },
      {
        name: 'textarea',
        type: '',
        placeholder: 'Тип номеров или услуги',
        fieldClass: 'js-textarea',
        fieldAttributes: {}
      }
    ]
  }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
