---
title: Index page
page: home
hero: {
  bg: 'bg-hero-home.jpg',
  title: 'Официальное изготовление
автономеров в Украине',
  text: 'Изготовление автомобильных номеров в Киеве и Украине от 250 грн. 
Срок изготовления - 5 минут. Быстрое оформление.
Доставка по Киеву курьером и по Украине Новой Почтой.',
  btns: [
    {
      title: 'Выбрать автономера',
      href: '#'
    },
    {
      title: 'Хочу получить консультацию',
      mod: 'btn--transp-white js-popup-open',
      attributes: { 'data-popup-target': 'call' }
    }
  ],
  img: 'hero-img.png'
}
features: {
  list: [
    {
      icon: 'like',
      title: 'Качественное',
      text: 'изготовление номеров
с гарантией'
    },
    {
      icon: 'clock',
      title: 'Быстрое',
      text: 'производство новых и замена
старых номеров'
    },
    {
      icon: 'document',
      title: 'Официальное',
      text: 'выполнение всех работ,
оформление не займет больше 20 минут'
    },
    {
      icon: 'vip',
      title: 'Индивидуальное',
      text: 'изготовление по желанию'
    },
    {
      icon: 'purse',
      title: 'Конкурентноспособное',
      text: 'ценообразование на наши услуги'
    },
    {
      icon: 'box',
      title: 'Удобная',
      text: 'система оплаты и доставки'
    }
  ]
}
typesLink: true,
types: [
  {
    title: 'Стандартные номера',
    img: '01.png',
    price: 'От <strong>250</strong> грн/шт.'
  },
  {
    title: 'Европейские номера',
    img: '02.png',
    price: 'От <strong>250</strong> грн/шт.'
  },
  {
    title: 'Мото номера',
    img: '03.png',
    price: 'От <strong>300</strong> грн/шт.'
  },
  {
    title: 'Американские номера',
    img: '04.png',
    price: 'От <strong>500</strong> грн/шт.'
  },
  {
    title: 'Именные номера',
    img: '07.png',
    price: 'От <strong>1700</strong> грн/шт.'
  },
  {
    title: 'Номера для прицепов',
    img: '10.png',
    price: 'От <strong>250</strong> грн/шт.'
  },
  {
    title: 'Номера для грузовиков',
    img: '11.png',
    price: 'От <strong>250</strong> грн/шт.'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-types.html" %}
  {% include "partials/sections/_s-features.html" %}
  {% include "partials/sections/_s-steps.html" %}
  {% include "partials/sections/_s-projects.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
