<!-- begin header -->
<header class="header js-header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="/" class="logo">
          <img class="js-lazy" alt="" data-src="./img/logo.png"/>
        </a>
      </div>

      <div class="header__nav js-menu">
        <button class="header__close js-menu-close"></button>

        <div class="header__nav-in">
          {% include "partials/_nav.html" %}
        </div>
      </div>

      <div class="header__phone">
        <a href="tel:+380974444444" class="header-phone">
          <span class="header-phone__icon">{{ mixins.icon('call-answer') }}</span>
          <span class="header-phone__title">+38 (097) 444 - 44 - 44</span>
        </a>
      </div>

      <div class="header__burger">
        <button class="burger js-burger"><span></span></button>
      </div>
    </div>
  </div>
</header>
<!-- end header -->