<!-- begin hero -->
<section class="hero js-lazy" data-background-image="./img/hero/{{ hero.bg }}">
  <div class="container">
    <div class="row">
      <div class="{% if hero.left.mod %}{{ hero.left.mod }}{% else %}col-sm-6{% endif %}">
        <div class="hero__content">
          {% if hero.title %}
          <div class="hero__title">
            <h1 class="title title--white">{{ hero.title | safe }}</h1>
          </div>
          {% endif %}

          {% if hero.text %}
          <div class="hero__text">
            {{ hero.text | safe }}
          </div>
          {% endif %}

          {% if hero.btns %}
          <div class="hero__btns">
            {% for i in hero.btns %}
            <div class="hero__btn">
              {{ mixins.btn(
                title = i.title,
                mod = i.mod,
                href = i.href,
                attributes = i.attributes
              ) }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="{% if hero.right.mod %}{{ hero.right.mod }}{% else %}col-sm-6{% endif %}">
        {% if hero.img %}
        <div class="hero__right{% if hero.right.blockMod %} {{ hero.right.blockMod }}{% endif %}">
          <img class="js-lazy" alt="" data-src="./img/hero/{{ hero.img }}"/>
        </div>
        {% endif %}
        {% if hero.form %}
        <div class="hero__right">
          {% include "partials/_form.html" %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- end hero -->