{%set
first = [
  {
    nmb: '1',
    img: '01.png',
    imgMod: 'delivery-item__img-center',
    title: 'Новой Почтой',
    text: 'Срок доставка занимает в среднем от 2 до 5
дней, в зависимости от вашего региона
и других внешних обстоятельств.'
  },
  {
    nmb: '2',
    imgMod: 'delivery-item__img-bottom-right',
    img: '02.png',
    title: 'Курьером',
    text: 'Срок доставка занимает в среднем от 2 до 5
дней, в зависимости от вашего региона
и других внешних обстоятельств.'
  }
]
%}

{%set
second = [
  {
    nmb: '3',
    img: '03.png',
    imgMod: 'delivery-item__img-center',
    title: 'Наличными',
    text: 'Срок доставка занимает в среднем от 2 до 5
дней, в зависимости от вашего региона
и других внешних обстоятельств.'
  },
  {
    nmb: '4',
    img: '04.png',
    imgMod: 'delivery-item__img-bottom-right',
    title: 'Картой или Приват 24',
    text: 'Срок доставка занимает в среднем от 2 до 5
дней, в зависимости от вашего региона
и других внешних обстоятельств.'
  }
]
%}