{%set
standart = [
  {
    title: 'Номер 2015 года',
    img: 'standart/01.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Номер 2004 года',
    img: 'standart/02.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    mod: '',
    title: 'Номер 1997 года',
    img: 'standart/03.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Дипломатический номер',
    img: 'standart/04.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'МЧС номер',
    img: 'standart/05.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Пассажирский номер 2015 года',
    img: 'standart/06.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Пассажирский номер 2004 года',
    img: 'standart/07.png',
    price: '<strong>250</strong> грн/шт.'
  }
]
%}
{%set
europe = [
  {
    title: 'Польский номер',
    img: 'europe/01.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Литовский номер',
    img: 'europe/02.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Латвийский номер',
    img: 'europe/03.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Словацкий номер',
    img: 'europe/04.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Чешский номер',
    img: 'europe/05.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Венгерский номер',
    img: 'europe/06.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Немецкий номер',
    img: 'europe/07.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Эстонский номер',
    img: 'europe/08.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Болгарский номер',
    img: 'europe/09.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Румынский номер',
    img: 'europe/10.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Молдавский номер',
    img: 'europe/11.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Номер на пластике',
    img: 'europe/12.png',
    price: '<strong>250</strong> грн/шт.'
  }
]
%}

{%set
american = [
  {
    title: 'Американский номер 2015 года',
    img: 'american/01.png',
    price: '<strong>500</strong> грн/шт.'
  },
  {
    title: 'Американский номер 2006 года',
    img: 'american/02.png',
    price: '<strong>500</strong> грн/шт.'
  }
]
%}

{%set
unic = [
  {
    title: 'Именной номер 2015 года',
    img: 'unic/01.png',
    price: '<strong>1700</strong> грн/шт.'
  },
  {
    title: 'Именной номер 2006 года',
    img: 'unic/02.png',
    price: '<strong>1700</strong> грн/шт.'
  }
]
%}

{%set
moto = [
  {
    title: 'Мото номер 2015 года',
    img: 'moto/01.png',
    price: '<strong>300</strong> грн/шт.'
  },
  {
    title: 'Мото номер 2004 года',
    img: 'moto/02.png',
    price: '<strong>300</strong> грн/шт.'
  },
  {
    title: 'Мот номер 1977-97 года',
    img: 'moto/03.png',
    price: '<strong>300</strong> грн/шт.'
  },
  {
    title: 'Номер 2015 года (Мопед)',
    img: 'moto/04.png',
    price: '<strong>300</strong> грн/шт.'
  },
  {
    title: 'Номер 2004 года (Мопед)',
    img: 'moto/05.png',
    price: '<strong>300</strong> грн/шт.'
  }
]
%}

{%set
trailer = [
  {
    title: 'Мото номер 2004 года',
    img: 'trailer/01.png',
    price: '<strong>300</strong> грн/шт.'
  }
]
%}

{%set
truck = [
  {
    title: 'Номер на грузовик 1997 года',
    img: 'truck/01.png',
    price: '<strong>250</strong> грн/шт.'
  },
  {
    title: 'Номер на грузовик 1997 года',
    img: 'truck/02.png',
    price: '<strong>250</strong> грн/шт.'
  }
]
%}