<!-- begin section -->
<section class="section pb-0">
  <div class="container">
    <div class="section__title">
      <h2 class="title">Предлагаем страховку <span class="accent">Предлагаем страховку для автомобилей</span></h2>
    </div>

    <div class="section__subttl">Мы предлагаем для водителей Украины услуги по страхованию автомобилей
    Самые выгодные условия только от компании «Avtonomera»</div>

    <!-- begin section-text -->
    <div class="section-text">
      <div class="section-text__left">
        <p>Добровольное страхование наземного транспорта (КАСКО) - страхование транспортных средств от угона, повреждения, уничтожения, потери вследствие дорожно-транспортного происшествия, незаконного завладения, пожара, взрыва, стихийного бедствия, противоправных действий третьих лиц, внешнего воздействия посторонних предметов по отношению к вашему легковому автомобилю (в частных случаях).
        Страховка автомобиля по программе «Легкая защита» - это упрощенный вариант добровольного страхования гражданско-правовой ответственности наземных транспортных средств (Добровольная «Автогражданка») для легковых автомобилей.</p>

        <strong>Страхователями могут быть:</strong>

        <ul>
          <li>физические лица</li>
          <li>юридические лица, </li>
          <li>СПД</li>
        </ul>

        <p>Добровольное страхование наземного транспорта (КАСКО) - страхование транспортных средств от угона, повреждения, уничтожения, потери вследствие дорожно-транспортного происшествия, незаконного завладения, пожара, взрыва, стихийного бедствия, противоправных действий третьих лиц, внешнего воздействия посторонних предметов по отношению к вашему легковому автомобилю (в частных случаях).</p>
      </div>

      <div class="section-text__right">
        <img class="js-lazy" alt="" data-src="./img/insurance.png"/>
      </div>
    </div>
    <!-- end section-text -->
  </div>
</section>
<!-- end section -->