.hero
  padding-top: $header-height
  position: relative
  color: $white
  +cover
  +lg
    padding-top: $header-height-lg
  +sm
    padding-top: $header-height-sm
  +xs
    // padding-bottom: 15px
  &__content
    +flex(center, normal, column)    
    padding-top: 25px
    padding-bottom: 25px
    +xs
      // margin-bottom: 15px
    html:not(.is-ie) &
      min-height: calc(100vh - #{$header-height})
      +sm
        min-height: calc(100vh - #{$header-height-sm})
      +xs
        min-height: 0
    .is-ie &
      height: calc(100vh - #{$header-height})
      +sm
        height: calc(100vh - #{$header-height-sm})
      +xs
        height: auto
  &__right
    +flex(center, normal, column)
    height: 100%
    padding-top: 25px
    padding-bottom: 25px
    img
      object-fit: contain
  &__right-bottom
    padding-top: 0
    padding-bottom: 0
    justify-content: flex-end
  &__title
    margin-bottom: 25px
    +md
      margin-bottom: 15px
  &__text
    margin-bottom: 25px
    +md
      margin-bottom: 25px
  &__btns
    +flex()
    +xl
      display: block
  &__btn
    +notlast
      margin-right: 15px
      +xl
        margin-right: 0
        margin-bottom: 15px