.section
  @extend .pt-mdl
  @extend .pb-mdl
  &:nth-child(odd)
    background-color: $white-dark
  &__title, &__subttl
    text-align: center
  &__title
    margin-bottom: 15px
    +md
      margin-bottom: 10px
  &__title-mb-lg
    margin-bottom: 50px
    +xl
      margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__subttl
    margin-bottom: 45px
    max-width: 580px
    margin-left: auto
    margin-right: auto
    +lg
      margin-bottom: 35px
    +md
      margin-bottom: 20px
    +sm
      margin-bottom: 15px
  &__block
    +notlast
      margin-bottom: 80px
      +xl
        margin-bottom: 60px
      +lg
        margin-bottom: 40px
      +md
        margin-bottom: 30px